body {
  font-family: 'Montserrat', sans-serif; }

header {
  text-align: center;
  background: black;
  width: 100%;
  height: 450px;
  padding: 100px 0 0 0; }
  header h1 {
    color: white;
    font-family: 'League spartan', sans-serif; }
  header p {
    color: white;
    font-size: 30px; }
  header ul {
    padding: 0;
    margin: 60px 0 0 0;
    height: 20px; }
    header ul li {
      display: inline-block;
      padding: 0;
      margin: 0 10px 0 10px; }
      header ul li a {
        font-size: 20px;
        color: #F2F1EF; }
      header ul li a:hover {
        color: #F2F1EF; }
      header ul li a:focus {
        color: #F2F1EF;
        border: none;
        outline: none; }

.about-container {
  padding: 20px 130px 0 130px;
  background-color: #F2F1EF; }
  .about-container .about {
    background: #F2F1EF;
    text-align: center;
    height: 100%; }
    .about-container .about div {
      padding: 0;
      height: 180px; }
    .about-container .about .imgbox img {
      height: 160px;
      width: 160px;
      border-radius: 50%; }
    .about-container .about .quote {
      padding: 30px 0px 0px 0px; }
      .about-container .about .quote p {
        font-size: 22px; }
    .about-container .about .aboutme {
      height: 250px;
      text-align: center;
      padding: 10px; }
      .about-container .about .aboutme p {
        font-size: 15px; }
    .about-container .about .technology {
      height: 250px;
      text-align: center;
      padding: 10px; }
      .about-container .about .technology p {
        font-size: 15px; }

.projects-container {
  padding: 0 150px 100px 150px;
  background: #F2F1EF; }
  .projects-container .projects {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px; }
    .projects-container .projects div {
      position: relative;
      width: 100%;
      height: 300px; }
    .projects-container .projects .project4 {
      text-align: left; }
      .projects-container .projects .project4 img {
        width: 300px; }
    .projects-container .projects .project3 {
      text-align: right; }
    .projects-container .projects .project2 {
      text-align: left; }
    .projects-container .projects .project1 {
      text-align: right; }

.contact {
  padding: 40px;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: black; }

footer {
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #F2F1EF; }
