body{
  /*background:lightblue;*/
  text-align: center;
}
/* HEADER */
header{
  height:300px;
}
header h1{
  /*display:inline;*/
  font-size: 60px;
  padding:0;
  margin:0;
  height:100px;
  width:100%;
  line-height: 200px;
  font-family: 'Bad Script', cursive;
}

/* NAVBAR */ 
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
  background: transparent;
  border-color: transparent;
}
.navbar{
  background: rgba(255,255,255,0.9);
  border: none;
}
.navli{
  width:50%;
  float:none;
  margin: auto;
}
.navli li{
  width: 25%;
  padding:0;
  margin:0;
} 
.navli li a{
  padding:0;
}
.navbar-toggle {
  float: none;
  margin-right: 0;
}
.navbar-collapse {
  border:none;
}

/*Portfolio*/

.wdiPortfolio{
  /*margin:0 auto;
  width:75%;*/
}
.wdiProjectsIcon{
  width:90%;
}
.wdiProjectsImg{
  width:50%;
}



@media (max-width: 875px) {
  header h1{font-size: 80px;}
}

@media (max-width: 767px) {
  .navli li {padding:0; width:100%; margin:0 auto; height:50px;}
  .navli li a{padding:0; width:100%; margin:0 auto; line-height: 50px;}


}

@media (max-width: 550px) {
    header h1{font-size: 50px;}
}