/*Sidebar-wrapper*/

#sidebar-wrapper{
  position:fixed;
  background:grey;
  height:100%;
  width:175px;
}

/*Page-content-wrapper*/

#page-content-wrapper{
  position:absolute;
  height:100%;
  left:200px;
  padding:20px;
}

/*Sidebar-head*/
.sidebar-head{
  height:150px;
  width:100%;
  padding:35px 10px 10px 10px;
  border-bottom: 1px solid red;
  text-align: center;
}
.sidebar-head h4{
  color:white;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*Sidebar-list*/

.sidebar-nav{
  padding:0;
  list-style: none;
}
.sidebar-nav li{
  text-indent:20px;
  line-height:40px;
}
.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
}

/*Page-content*/

.page-content{
  width:100%;
  padding:0 40px 0 15px;
}

/*Page-content-header*/

.page-content h1{
  width:100%;
  margin-top:40px;
  color: rgba(0, 0, 0, 1);
  font-size:50px;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
}
.page-content hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid blue;
    margin: 1em 0;
    padding: 0;
}

/*Page-content-main*/ 

.page-content span{
  display:block;
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}
.page-content-contents div{
  margin:10px 0 0 0;
}
.page-content-contents div.colnum1{
  padding-left:0;
  margin:10px 0 0 0;
}
.page-content-contents div img{
  width:100%;
  padding-right:10px;
}
/*.page-content-contents div.colnum2{
  padding-left:0;
  margin:10px 0 0 0;
}
.page-content-contents div.colnum3{
  padding-left:0;
  margin:10px 0 0 0;
}*/