body {
  font-family: 'Montserrat', sans-serif; }

header {
  text-align: center;
  background: black;
  width: 100%;
  height: 450px;
  padding: 100px 0 0 0; }
  header h1 {
    color: white;
    font-family: 'League spartan', sans-serif; }
  header p {
    color: white;
    font-size: 30px; }
  header ul {
    padding: 0;
    margin: 60px 0 0 0;
    height: 20px; }
    header ul li {
      display: inline-block;
      padding: 0;
      margin: 0 10px 0 10px; }
      header ul li a {
        font-size: 20px;
        color: white; }
      header ul li a:hover {
        color: white; }
      header ul li a:focus {
        color: white;
        border: none;
        outline: none; }

#wrapper {
  width: 100%;
  text-align: center; }
  #wrapper p {
    margin: 0 auto;
    width: 950px; }
  #wrapper .quote {
    margin: 0 auto;
    width: 950px;
    padding: 40px; }
  #wrapper img {
    width: 200px;
    margin-top: 50px;
    border-radius: 50%; }
  #wrapper .technology p {
    width: 100%; }
  #wrapper .abouty {
    width: 950px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px; }

.project4 h2, .project2 h2 {
  padding: 20px 0;
  margin: 0 auto;
  width: 950px;
  text-align: left; }

.project4 h4, .project2 h4 {
  margin: 0 auto;
  width: 950px;
  text-align: left; }

.project4 a, .project2 a {
  display: inline;
  text-align: left; }

.project4 p, .project2 p {
  text-align: left; }

.project3 h2, .project1 h2 {
  padding: 20px 0;
  margin: 0 auto;
  width: 950px;
  text-align: right; }

.project3 h4, .project1 h4 {
  margin: 0 auto;
  width: 950px;
  text-align: right; }

.project3 a, .project1 a {
  display: inline;
  text-align: right; }

.project3 p, .project1 p {
  text-align: right; }

.contact {
  padding: 40px;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: black;
  color: white; }

footer {
  text-align: center;
  width: 100%;
  height: 100px; }
