/*Sidebar-wrapper*/

#sidebar-wrapper{
  position:fixed;
  background:#2e2d2c;
  height:100%;
  width:175px;
}

/*Page-content-wrapper*/

#page-content-wrapper{
  position:absolute;
  height:100%;
  left:200px;
  padding:20px;
}

/*Page-content*/

.page-content{
  width:100%;
  padding:0 40px 0 15px;
}