
#wrapper{
  position:absolute;
  left:0;
  background: $primary-color;
  width:100%;
  height:100%;
}
/*Sidebar-wrapper*/

#sidebar-wrapper{
  position:fixed;
  background: $primary-color;
  height:100%;
  width:200px;
}

/*Page-content-wrapper*/

#page-content-wrapper{
  width:100%;
  height:100%;
  left:200px;
  padding:0 0 0 200px;
  background: $white;
}

/*Page-content*/

.page-content{
  width:100%;
  padding:0 40px 0 15px;
}