$primary-color: #2e2d2c;
$white: #fff;
$dark-grey: #4c4a49;
$light-grey: #d3d2cf;
$color-one: #22bdef; 
$color-two: #FA198B; 
$color-three: #F5B700; 
$color-four: #59F8E8 ;  
$color-five: #AFFC41; 

$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Montserrat', sans-serif;