$white: white;
$black: black;
$primary-color: #DB5461;
$secondary-color: #E8E8E8;
$teritary-color: #EFC88B;

body{
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size:16px;
  font-weight:lighter;
}

header{
  text-align:center;
  background: $primary-color;
  width:100%;
  height: 470px;
  padding:100px 0 0 0;
  h1{
    color:$white;
    font-family: 'League spartan', sans-serif;
  }
  h2{
    color:$white;
    font-size:30px;
  }
  ul{
    padding:0;
    margin:60px 0 0 0;
    height:20px;
    li{
      display:inline-block;
      padding:0;
      margin:0 10px 0 10px;
      a{
        font-size:20px;
        color:$white;
      }
      a:hover{
        color:$white;
      }
      a:focus{
        color:$white;
        border:none;
        outline:none;
      }
    }
    p{
      display:inline;
      color: $white;
    }
  }
}

#wrapper{
  width:100%;
  text-align: center;
  background: $secondary-color;
  padding-bottom: 120px;
  .aboutP{
    margin:0 auto;
    max-width:950px;
  }
  .quote{
    margin:0 auto;
    max-width: 950px;
    padding:40px;
    font-family: 'Montserrat', sans-serif;
  }
  img{
    width:200px;
    margin-top:50px;
    border-radius: 50%;
  }
  .technology{

    p{
      width:100%;
    }
  }
  .abouty{
    max-width:950px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
  }
}

.projectsD{
  margin:0 auto;
  max-width:850px;
  background:$white;
  padding:10px 20px 20px 20px;
  h2{
    padding:20px 0;
  }
  h3{
    padding: 10px 0 0 0;
  }
  h4{
    font-weight:300;
  }
  a{
    font-size: 18px;
    font-weight: 300;
    color:$teritary-color;
  }
  a:hover{
    color:$teritary-color;
  }
  a:focus{
    color:$teritary-color;
    border:none;
    outline:none;
  }
  p{
    display:block;
    max-width: 500px;
    margin:0;
    border-bottom:1px solid $teritary-color;
    padding: 20px 0;
  }
  .projectLeft{
    text-align: left;
    margin-bottom: 30px;
    a{
      padding: 0 10px 0 0;
    }
  }
  .projectRight{
    text-align: right;
    margin-bottom: 30px;
    a{
      padding: 0 0 0 10px;
    }
    p{
      display:inline-block;
    }
  }
}


.contactD{
  padding:40px;
  text-align: center;
  width:100%;
  height:350px;
  background-color:$primary-color;
  color: $white;
  h4{
    padding: 30px 0 20px 0;
  }
  a{
    color: $white;
  }
  a:hover{
    color:$white;
  }
  a:focus{
    color:$white;
    border:none;
    outline:none;
  }
  i{
    padding: 40px 30px;
  }
}
footer{
  text-align: center;
  width:100%;
  height:60px;
  p{
    padding:20px;
    margin:0;
  }
}

@media (max-width: 950px) {
  .projects{
    margin-bottom:0;
  }
}








// .navbar{
//   // background-color: black;
//   // border: none;
//   width:100%;
//   margin:0 auto;
// }
// .navbar .navbar-nav {
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// }

// .navbar .navbar-collapse {
//   text-align: center;
//   float:none;
// }







// @import "variables";
// @import "structure";
// // @import "typography";

// @import "modules/sidebar";

// @import "pages/home.scss";
// @import "pages/whoiam.scss";
// @import "pages/whativedone.scss";
// @import "pages/whatido.scss";
// @import "pages/contact.scss";

// #wrappery{
//   position:absolute;
//   left:0;
//   top:0;
//   width:100%;
//   height:100%;

// h1{
//   padding:40px;
//   margin:0;
//   font-size:100px;
//   font-weight:900;
//   color: $light-grey;
// }
// .row{
//   div{
//     height:100%;
//     padding:0;
//     text-align: center;
//   }
//   .block1{
//     img{
//       width:100%;
//     }
//   }
//   .block2{
//       height:213.33px;
//       h1{
//         height:213.33px;
//         color:$color-two;
//       }
//       h1:hover{
//         color:$color-two;
//       }
//   }
//   .block3{
//     h1{
//       height:320px;
//       color:$color-three;
//     }
//     h1:hover{
//       color:$color-three;
//     }
//     -webkit-animation-duration: 1s;
//     -webkit-animation-delay: 0s;
//     // -webkit-animation-iteration-count: infinite;
//   }
//   .block4{
//     h1{
//       height:320px;
//       color:$color-four;
//     }
//     h1:hover{
//       color:$color-four;
//     }
//   }
//   .block5{
//     h1{
//       height:320px;
//       color:$color-five;
//     }
//     h1:hover{
//       color:$color-five;
//     }
//   }
//   .block6{
//     height:190px;
//     h1{
//     color: $color-one;
//     }
//     h1:hover{
//       color: $color-one;
//     }
//   }
//   .block7{
//     height:190px;
//     img{
//       height:100%;
//       opacity:0.5;
//     }
//     img:hover{
//       opacity:1;
//     }
//   }
// }
// }