.contactD{
  padding:40px;
  text-align: center;
  width:100%;
  height:350px;
  background-color:$primary-color;
  color: $white;
  h4{
    padding: 30px 0 20px 0;
  }
  a{
    color: $white;
  }
  a:hover{
    color:$white;
  }
  a:focus{
    color:$white;
    border:none;
    outline:none;
  }
  i{
    padding: 40px 30px;
  }
}
footer{
  text-align: center;
  width:100%;
  height:60px;
  p{
    padding:20px;
    margin:0;
  }
}