header{
  ul{
    margin:0;
    padding:2.5rem 0 0 0;
    display:flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    li{
      padding:0 1rem;
      position:relative;

      &:after{
        content:'/';
        position:absolute;
        right:0;
      }
      
      a{
        color: color(white);
      }
      a:hover{
        color: color(teritary);
      }
      a:focus{
        color: color(teritary);
        border:none;
        outline:none;
      }
    }
    li:last-child{
      &:after{
        display:none;
      }
    }
  }
}