/*Page-content-main*/ 

.page-content span{
  display:block;
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}
.page-content-contents div{
  margin:10px 0 0 0;
}
.page-content-contents div.colnum1{
  padding-left:0;
  margin:10px 0 0 0;
}
.page-content-contents div img{
  width:100%;
  padding-right:10px;
}
/*.page-content-contents div.colnum2{
  padding-left:0;
  margin:10px 0 0 0;
}
.page-content-contents div.colnum3{
  padding-left:0;
  margin:10px 0 0 0;
}*/