.home{
  padding-left:15px;
  padding-top:50px;
  height:100%;
  margin: 0 auto;
  background: $white;
  div{
    text-align: left;
    h1{
      display: inline;
      border-bottom: 3px solid $color-one;
      margin:0;
      font-size:50px;
      font-weight: 900;
    }
    h3{
      margin-left:20px;
    }

  }
}