/*Page-content-header*/ 
.whoiam h1{
  width:100%;
  margin-top:40px;
  color: rgba(0, 0, 0, 1);
  font-size:50px;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
}
.whoiam hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid blue;
    margin: 1em 0;
    padding: 0;
}
/*Page-content-main*/
.whoiam span{
  display:block;
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}
.whoiam-content div{
  margin:10px 0 0 0;
}
.whoiam-content div.colnum1{
  padding-left:0;
  margin:10px 0 0 0;
}
.whoiam-content div.colnum1 img{
  width:100%;
  padding-right:10px;
}
.whoiam-content div.colnum2{
  padding: 0;
  padding-right:20px;
  font-size:15px;
}
.whoiam-content div.colnum3{
  padding:0;
  padding-right:20px;
  font-size:15px;
}
.whoiam-content div.colnum3 img{
  width:100%;
}
