/*Page-content-header*/

.page-content h1{
  width:100%;
  margin-top:40px;
  color: rgba(0, 0, 0, 1);
  font-size:50px;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
}
.page-content hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid blue;
    margin: 1em 0;
    padding: 0;
}